/* 全体のスタイル */
:root {
    --color-base: #4d4d4d;
    --color-primary: #F9BE00;
    --color-second: #DF7861;
    --color-accent: #e9eaec;
}

html {
    font-size: 32vmin;
}

body {
    align-items: center;
    color: var(--color-base);
    display: flex;
    font-family: 'Helvetica Neue', sans-serif;
    justify-content: center;
    margin: 0px auto;
    overflow: hidden;
    text-align: center;
}

/* タイマーのスタイル */
#current-time {
    color: var(--color-second);
    font-size: 0.25rem;
}

#timer-label {
    font-size: 0.8rem;
    letter-spacing: -1vw;
    line-height: 0.7;
}

#counter {
    color: var(--color-second);
    font-size: 0.25rem;
    margin-bottom: 0.1rem;
}


.timer-label {
    align-items: center;
    display: flex;
    height: 3rem;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 3rem;
}

.timer {
    height: 3rem;
    position: relative;
    width: 3rem;
}

.timer-group {
    fill: none;
    stroke: none;
}

.timer-circle-accent {
    stroke: var(--color-accent);
}

.timer-circle-primary {
    stroke: var(--color-primary);
}

.timer-label {
    align-items: center;
    display: flex;
    height: 3rem;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 3rem;
}

/* 
.timer-circle-background {
    fill: rgba(0, 0, 0, 0.7);
} */

.timer-circle-outer {
    stroke: var(--color-base);
    stroke-linecap: round;
    stroke-width: 4;
    transition: 0.5s linear all;
}

.timer-svg {
    transform: rotate(-90deg);
    transform-origin: center;
}